.App {
  text-align: center;
}

.main-game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .board {
  background-color: skyblue;
  margin: 10px;
  padding: 20px;
} */

.rowOfThree {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #444;
  color: white;
  border: 1px dotted #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
  background-color: #222;
}

.status {
  margin: 20px;
  font-size: 24px;
}